@* @model IEnumerable<bugtracker.Models.Issue> *@

@{
    ViewData["Title"] = "Index";
    ViewData["styles"] = "~/css/bugtracker-index.css";
}

<script type="module" src="~/js/modal.js"></script>
<h1>Bug Tracker</h1>
<form>
    @* opens a modal which will need to link with the bugtracker controller *@
    <button type="button" class="button" data-open="modal1">+</button>
    <div class="modal" id="modal1">
        <div clsas="modal-dialog">
            <header class="modal-header">
                <p>a modal</p>
                <input class="close-modal button" aria-label="close modal">x</button>
            </header>
            <section class="modal-content">
                <input label="firstname" type="text" />
                <input label="lastname" type="text" />
            </section>
            <footer class="modal-footer">
                <button class="button" type="submit">submit</button>
            </footer>
        </div>
    </div>
    <input type="search" placeholder="search" class="search"></input>
    <input type="submit" class="button">
</form>

<ul id="issues">
    <li class="issue"><a class="top" href="https://google.com">dummy item</a></li>
    <li class="issue"><a href="#">dummy item2</a></li>
    <li class="issue"><a href="#">dummy item3</a></li>
    <li class="issue"><a href="#">dummy item4</a></li>
    <li class="issue"><a class="bottom" href="#">dummy item5</a></li>

</ul>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeModifed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeModifed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
