@model IEnumerable<bugtracker.Models.Issue>

@{
    ViewData["Title"] = "Index";
    ViewData["styles"] = "~/css/bugtracker-index.css";
}

@* NOTES: View model is a way to do what I want to do in regards to the modal
   so that's a possible solution that's worth looking into.
   However, in the interest of keeping views decoupled it might be best to
   forgo the modal idea and instead keep them as separate pages. Style the
   create page much better and link the create button on index to the create
   page. *@

<script type="module" src="~/js/issue_modal.js"></script>
<h1>Bug Tracker</h1>
<div class="content-container">
    <div class="form-container">
        <form>
            <button class="button" asp-action="Create">+</button>
            <input type="search" placeholder="search" class="search text-input"></input>
            <input type="submit" class="button">
        </form>
    </div>
    @* Issues list *@
    <ul id="issues">
        @{var id = 0;}        
        @foreach (var item in Model) {
            <div class="modal" id="modal@(id++)">
                <div class="issue-container">
                    <header class="modal-header">
                        <button class="button modal-close" type="button" aria-label="close modal" data-close>X</button>
                        <h2 class="issue-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                        <p class="status open">@Html.DisplayFor(modelItem => item.Status)</p>
                    </header>
                    <section class="modal-content">
                        <h3 class="modal-subheading">Priority:</h3>
                        <p class="priority">@Html.DisplayFor(modelItem => item.Priority)</p>
                        <h3 class="modal-subheading">Description:</h3>
                        <p class="issue-description">@Html.DisplayFor(modelItem => item.Description)</p>
                        <h3 class="modal-subheading">Type:</h3>
                        <p>@Html.DisplayFor(modelItem => item.IssueType)</p>
                    </section>
                    <footer class="modal-footer">
                        <div class="dates">
                            <div class="date">
                                <h4>Created:</h4>
                                <p class="datetime">@Html.DisplayFor(modelItem => item.DateTimeCreated)</p>
                            </div>
                            <br>
                            <div class="date">
                                <h4>Modified:</h4>
                                <p class="datetime">@Html.DisplayFor(modelItem => item.DateTimeModified)</p>
                            </div>
                        </div>
                        <div>
                        <p class="userid">Modified by: @Html.DisplayFor(modelItem => item.LastModifiedBy)</p>
                        </div>
                        <form>
                        <button class="button modal-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                        </form>
                    </footer>
                </div>
            </div>
        }

        <li class="issue"><a class="top" href="#">dummy item</a></li>
        @{var modalId = 0;}
        @foreach (var item in Model) {
            <li class="issue">
                <a href="#" data-open="modal@(modalId++)">
                    <p>
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.IssueType)
                    </p>
                </a>
            </li>
        }
        <li class="issue"><a class="bottom" href="#">dummy item5</a></li>
    </ul>
</div>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeModifed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeModifed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
